

/* Pop up */

.overlay[b-27wha6rp0i] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 1;
  }
  
  .popup[b-27wha6rp0i] {
    display: block;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2[b-27wha6rp0i] {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close[b-27wha6rp0i] {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover[b-27wha6rp0i] {
    color: #06D85F;
    cursor: pointer;
  }
  .popup .content[b-27wha6rp0i] {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box[b-27wha6rp0i]{
      width: 70%;
    }
    .popup[b-27wha6rp0i]{
      width: 70%;
    }
  }