/* _content/SharkValleyServer/Pages/EditPatrolLog.razor.rz.scp.css */
.log-form[b-0cmhqza9t9] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.log-form > .comments[b-0cmhqza9t9]{
    display: flex;
    margin-bottom: 1rem;
}

.comments > textarea[b-0cmhqza9t9] {
    width: 80% !important;
}



.save-btn[b-0cmhqza9t9] {
    width: 4rem;
}
/* _content/SharkValleyServer/Pages/Modal.razor.rz.scp.css */


/* Pop up */

.overlay[b-27wha6rp0i] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 1;
  }
  
  .popup[b-27wha6rp0i] {
    display: block;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2[b-27wha6rp0i] {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close[b-27wha6rp0i] {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover[b-27wha6rp0i] {
    color: #06D85F;
    cursor: pointer;
  }
  .popup .content[b-27wha6rp0i] {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box[b-27wha6rp0i]{
      width: 70%;
    }
    .popup[b-27wha6rp0i]{
      width: 70%;
    }
  }
/* _content/SharkValleyServer/Shared/MainLayout.razor.rz.scp.css */
.page[b-fuxflwc0e9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-fuxflwc0e9] {
    flex: 1;
}

.sidebar[b-fuxflwc0e9] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-fuxflwc0e9] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-fuxflwc0e9]  a, .top-row .btn-link[b-fuxflwc0e9] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-fuxflwc0e9] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-fuxflwc0e9] {
        display: none;
    }

    .top-row.auth[b-fuxflwc0e9] {
        justify-content: space-between;
    }

    .top-row a[b-fuxflwc0e9], .top-row .btn-link[b-fuxflwc0e9] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-fuxflwc0e9] {
        flex-direction: row;
    }

    .sidebar[b-fuxflwc0e9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-fuxflwc0e9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-fuxflwc0e9], article[b-fuxflwc0e9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/SharkValleyServer/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ie6lj899xr] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ie6lj899xr] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ie6lj899xr] {
    font-size: 1.1rem;
}

.oi[b-ie6lj899xr] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ie6lj899xr] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ie6lj899xr] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ie6lj899xr] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ie6lj899xr]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ie6lj899xr]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ie6lj899xr]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ie6lj899xr] {
        display: none;
    }

    .collapse[b-ie6lj899xr] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-ie6lj899xr] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
